<%= form_for(@loungechat) do |f| %>
  <% if @loungechat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loungechat.errors.count, "error") %> prohibited this loungechat from being saved:</h2>

      <ul>
      <% @loungechat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
