<% if current_user %>
	<div class="body row">
		<aside  class="userlist col scroll-y">
			<ul id="userlist" data-me="<%= current_user.name %>">
				<li><%= current_user.name %></li>
			</ul>
		</aside>

		<article id="output" class="content col scroll-y">

		</article>
	</div>
	
	<footer class="messagebox row"> 
		<form class="chat">
			<textarea autofocus="autofocus" placeholder="Write your message, and press [Enter] to send."></textarea>
		</form>
	</footer>
<% end %>