<% if current_user %>
	<div class="body row">
		<aside id="userlist" class="userlist col scroll-y">
			<ul>
				<li><span id="me"><%= current_user.name %></span></li>
			</ul>
		</aside>

		<article id="output" class="content col scroll-y">

		</article>
	</div>
	
	<footer class="messagebox row"> 
		<form class="chat">
			<textarea autofocus="autofocus" placeholder="Write your message, and press [Enter] to send."></textarea>
		</form>
	</footer>
<% end %>