

<div class="login">
	<h1>Currently not logged into LoungeChat</h1>
	<p>To use loungechat you need to be a member of a pertinent meetup group and authorized via the meetup oAuth API.</p>
	<%= link_to "Sign in with Meetup oAuth", "/auth/meetup", class: "button" %>
</div>