// Place all the styles related to the loungechats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container_12 {
	font-family: monospace;
}
.userlist.col { 
	border-left: 1px solid white;
	padding: 5px 10px;
}
.messagebox.row {
	border-top: 1px solid white;
	textarea {
		-webkit-appearance: none;
		border: none;
		background: none;

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		&::-webkit-input-placeholder {  /* chrome, safari et.c. */
			color: rgba(255, 255, 255, 0.18);
		}
		&::-moz-placeholder { /* firefox 19+ */
			color: rgba(255, 255, 255, 0.18);
		}
		&:-ms-input-placeholder {  /* ie */
			color: rgba(255, 255, 255, 0.18);
		}
	}
}


.output_message {

}
.output_history {
	color: rgba(255, 255, 255, 0.28);
}
.output_logout {
	color: rgb(129,164,0);
}
.output_login {
	color: rgb(240,78,148);
}
.output_highlight {
	color: rgb(47,153,220);
}